<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %> </title>
    
    <!-- style -->
    <link rel="stylesheet" href="/css/gamePage.css">
    
</head>
<body>
    <h1><u><b><%= name %></b></u></h1>
    <section class="section-center">
        <form action="/<%= name %>/newReview" method="get" class="give-form">
            <button>Give an anonymous review</button>
        </form>
        <br>
        <br>
        <form action="/<%= name %>/allReviews" method="get">
            <button>See all reviews</button>
        </form>
        <br>
        <br>
        <button class="back-button"><a href="/" style="text-decoration:none; color: greenyellow;">Back to all games</a></button> 
    </section>
</body>
</html>