<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- style -->
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    </style>
    <h1><u>Games --></u></h1>
    <% for (const game of games) { %> 
        <section class="games-section">
            <a href="/<%= game.name %>" target="_blank">
                    <img src="/images/<%= game.name %>.jpg" alt="<%= game.name %>"> 
            </a>
            <section class="desc"><%= game.name %></section>
        </section>
    <% } %>
</body>
</html>